#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Text_2 {
  position: absolute;
  top: 35px;
  left: 15px;
  width: 85px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Text_2 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Text_2 span#rtr-s-Text_2_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Input_2 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Input_2 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Input_2 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Input_2 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Input_2 {
  position: absolute;
  top: 35px;
  left: 100px;
  width: 178px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #7F9DB9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #7F9DB9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #7F9DB9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #7F9DB9;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 8.0pt;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Text_3 {
  position: absolute;
  top: 60px;
  left: 15px;
  width: 85px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Text_3 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Text_3 span#rtr-s-Text_3_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Input_3 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Input_3 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Input_3 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Input_3 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Input_3 {
  position: absolute;
  top: 60px;
  left: 100px;
  width: 178px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #7F9DB9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #7F9DB9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #7F9DB9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #7F9DB9;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 8.0pt;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Input_3 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Text_4 {
  position: absolute;
  top: 85px;
  left: 15px;
  width: 85px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Text_4 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Text_4 span#rtr-s-Text_4_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Input_4 {
  position: absolute;
  top: 85px;
  left: 100px;
  width: 178px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #7F9DB9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #7F9DB9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #7F9DB9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #7F9DB9;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Input_4 .valign {
  vertical-align: middle;
  line-height: 8.0pt;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Input_4 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  min-height: 8.0pt;
  text-shadow: none;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Input_4 .icon {
  top: 2px;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Text_5 {
  position: absolute;
  top: 110px;
  left: 15px;
  width: 85px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Text_5 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Text_5 span#rtr-s-Text_5_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Input_5 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Input_5 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Input_5 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Input_5 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Input_5 {
  position: absolute;
  top: 110px;
  left: 100px;
  width: 178px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #7F9DB9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #7F9DB9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #7F9DB9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #7F9DB9;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 8.0pt;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Input_5 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Button_1 {
  position: absolute;
  top: 150px;
  left: 178px;
  width: 38px;
  height: 12px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#EBEADB));
  background-image: -o-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: linear-gradient(to bottom,#FFFFFF,#EBEADB);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C7C5B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C7C5B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C7C5B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C7C5B2;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 8.0pt;
  font-family: 'Arial',Arial;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Button_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Button_1 span#rtr-s-Button_1_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Button_2 {
  position: absolute;
  top: 150px;
  left: 235px;
  width: 41px;
  height: 12px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#EBEADB));
  background-image: -o-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: linear-gradient(to bottom,#FFFFFF,#EBEADB);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C7C5B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C7C5B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C7C5B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C7C5B2;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 8.0pt;
  font-family: 'Arial',Arial;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Button_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde #s-Button_2 span#rtr-s-Button_2_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1c172a7b-2785-4d33-a1b9-fd5bced26dde > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}