#s-5d024353-5558-47f0-81d7-4ee7aa581184 #s-Panel_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C7C5B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C7C5B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C7C5B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C7C5B2;
}
#s-5d024353-5558-47f0-81d7-4ee7aa581184 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C7C5B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C7C5B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C7C5B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C7C5B2;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 43px;
  height: 12px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#EBEADB);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-5d024353-5558-47f0-81d7-4ee7aa581184 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5d024353-5558-47f0-81d7-4ee7aa581184 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5d024353-5558-47f0-81d7-4ee7aa581184 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C7C5B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C7C5B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C7C5B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C7C5B2;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 31px;
  height: 12px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#EBEADB);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-5d024353-5558-47f0-81d7-4ee7aa581184 #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-5d024353-5558-47f0-81d7-4ee7aa581184 #s-login {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
}
#s-5d024353-5558-47f0-81d7-4ee7aa581184 #s-Row_cell_1 {
  -pie-background: linear-gradient(to bottom,#EFEFEF,#FEFEFE);
  -pie-poll: false;
  position: relative;
}
#s-5d024353-5558-47f0-81d7-4ee7aa581184 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5d024353-5558-47f0-81d7-4ee7aa581184 #s-Row_cell_3 {
  -pie-background: linear-gradient(to bottom,#EFEFEF,#FEFEFE);
  -pie-poll: false;
  position: relative;
}
#s-5d024353-5558-47f0-81d7-4ee7aa581184 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5d024353-5558-47f0-81d7-4ee7aa581184 #s-Row_cell_5 {
  -pie-background: linear-gradient(to bottom,#EFEFEF,#FEFEFE);
  -pie-poll: false;
  position: relative;
}
#s-5d024353-5558-47f0-81d7-4ee7aa581184 #s-Row_cell_7 {
  -pie-background: linear-gradient(to bottom,#EFEFEF,#FEFEFE);
  -pie-poll: false;
  position: relative;
}
#s-5d024353-5558-47f0-81d7-4ee7aa581184 #s-Row_cell_9 {
  -pie-background: linear-gradient(to bottom,#EFEFEF,#FEFEFE);
  -pie-poll: false;
  position: relative;
}
#s-5d024353-5558-47f0-81d7-4ee7aa581184 #s-login .s-Row_cell_2 {
  position: relative;
}
#s-5d024353-5558-47f0-81d7-4ee7aa581184 #s-login .s-Row_cell_4 {
  position: relative;
}
#s-5d024353-5558-47f0-81d7-4ee7aa581184 #s-login .s-Row_cell_6 {
  position: relative;
}
#s-5d024353-5558-47f0-81d7-4ee7aa581184 #s-login .s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5d024353-5558-47f0-81d7-4ee7aa581184 #s-login .s-Row_cell_8 {
  position: relative;
}
#s-5d024353-5558-47f0-81d7-4ee7aa581184 #s-login .s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5d024353-5558-47f0-81d7-4ee7aa581184 #s-login .s-Row_cell_10 {
  position: relative;
}
#s-5d024353-5558-47f0-81d7-4ee7aa581184 #s-login .s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5d024353-5558-47f0-81d7-4ee7aa581184 #s-Summary_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5d024353-5558-47f0-81d7-4ee7aa581184 #s-Index_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5d024353-5558-47f0-81d7-4ee7aa581184 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-5d024353-5558-47f0-81d7-4ee7aa581184 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-5d024353-5558-47f0-81d7-4ee7aa581184 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-5d024353-5558-47f0-81d7-4ee7aa581184 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-5d024353-5558-47f0-81d7-4ee7aa581184 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}