#s-699d2dd2-f446-420f-98b6-a1763009899b #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-699d2dd2-f446-420f-98b6-a1763009899b #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-699d2dd2-f446-420f-98b6-a1763009899b #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-699d2dd2-f446-420f-98b6-a1763009899b #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-699d2dd2-f446-420f-98b6-a1763009899b #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-699d2dd2-f446-420f-98b6-a1763009899b #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-699d2dd2-f446-420f-98b6-a1763009899b #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-699d2dd2-f446-420f-98b6-a1763009899b #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C7C5B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C7C5B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C7C5B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C7C5B2;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 38px;
  height: 12px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#EBEADB);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-699d2dd2-f446-420f-98b6-a1763009899b #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C7C5B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C7C5B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C7C5B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C7C5B2;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 41px;
  height: 12px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#EBEADB);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-699d2dd2-f446-420f-98b6-a1763009899b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}