#s-af92aa72-dca8-41d3-8fd8-7df6685c6618 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af92aa72-dca8-41d3-8fd8-7df6685c6618 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af92aa72-dca8-41d3-8fd8-7df6685c6618 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af92aa72-dca8-41d3-8fd8-7df6685c6618 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}