#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-Panel_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C7C5B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C7C5B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C7C5B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C7C5B2;
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C7C5B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C7C5B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C7C5B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C7C5B2;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 43px;
  height: 12px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#EBEADB);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C7C5B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C7C5B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C7C5B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C7C5B2;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 31px;
  height: 12px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#EBEADB);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-SoinDataMaster {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-Row_cell_1 {
  -pie-background: linear-gradient(to bottom,#EFEFEF,#FEFEFE);
  -pie-poll: false;
  position: relative;
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-Row_cell_3 {
  -pie-background: linear-gradient(to bottom,#EFEFEF,#FEFEFE);
  -pie-poll: false;
  position: relative;
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-Row_cell_5 {
  -pie-background: linear-gradient(to bottom,#EFEFEF,#FEFEFE);
  -pie-poll: false;
  position: relative;
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-Row_cell_7 {
  -pie-background: linear-gradient(to bottom,#EFEFEF,#FEFEFE);
  -pie-poll: false;
  position: relative;
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-Row_cell_9 {
  -pie-background: linear-gradient(to bottom,#EFEFEF,#FEFEFE);
  -pie-poll: false;
  position: relative;
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-Row_cell_11 {
  -pie-background: linear-gradient(to bottom,#EFEFEF,#FEFEFE);
  -pie-poll: false;
  position: relative;
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-Row_cell_13 {
  -pie-background: linear-gradient(to bottom,#EFEFEF,#FEFEFE);
  -pie-poll: false;
  position: relative;
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-Row_cell_15 {
  -pie-background: linear-gradient(to bottom,#EFEFEF,#FEFEFE);
  -pie-poll: false;
  position: relative;
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-Row_cell_17 {
  -pie-background: linear-gradient(to bottom,#EFEFEF,#FEFEFE);
  -pie-poll: false;
  position: relative;
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-Row_cell_19 {
  -pie-background: linear-gradient(to bottom,#EFEFEF,#FEFEFE);
  -pie-poll: false;
  position: relative;
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-SoinDataMaster .s-Row_cell_2 {
  position: relative;
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-SoinDataMaster .s-Row_cell_4 {
  position: relative;
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-SoinDataMaster .s-Row_cell_6 {
  position: relative;
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-SoinDataMaster .s-Row_cell_8 {
  position: relative;
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-SoinDataMaster .s-Row_cell_10 {
  position: relative;
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-SoinDataMaster .s-Row_cell_12 {
  position: relative;
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-SoinDataMaster .s-Row_cell_14 {
  position: relative;
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-SoinDataMaster .s-Row_cell_16 {
  position: relative;
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-SoinDataMaster .s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-SoinDataMaster .s-Row_cell_18 {
  position: relative;
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-SoinDataMaster .s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-SoinDataMaster .s-Row_cell_20 {
  position: relative;
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-SoinDataMaster .s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-Summary_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-Index_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-b81af61c-0596-4e8a-b6cc-0b9d0265368a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}