#s-c6af2bd8-0711-4b95-89f1-8a9c0036ded7 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6af2bd8-0711-4b95-89f1-8a9c0036ded7 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6af2bd8-0711-4b95-89f1-8a9c0036ded7 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c6af2bd8-0711-4b95-89f1-8a9c0036ded7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}